:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #000000;
  color: #999;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}
h3 {
  font-weight: lighter;
}
a {
  color: #fff;
  text-decoration: none;
}
p {
  margin: 0.5rem 0;
  font-weight: bold;
  color: #fff;
}
img {
  width: 100%;
}
.heder-box {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("covar.jpg") no-repeat center center/cover;
}
.heder-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.heder-top {
  position: relative;
  z-index: 2;
  height: 90px;
}
.heder-top img {
  width: 140px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(40%, -50%);
}
.heder-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-60%, -50%);
}
.heder-content {
  position: relative;
  margin: 0 26%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 9rem;
}

.heder-content h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 0 30px;
  max-width: 800px;
  line-height: 74.5px;
}
.heder-content h3 {
  color: #fff;
  font-size: 25px;
  margin: 16px 0;
}
.heder-content p {
  font-size: 19.2px;
  font-weight: 300px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.heder-content input {
  position: absolute;
  left: 0;
  bottom: -8vh;
  width: 454px;
  height: 3rem;
  font-size: 1rem;
  padding-left: 0.5rem;
}
.btn {
  outline: none;
  border: none;
  display: inline;
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 0.5rem;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.45);
}
.btn:hover {
  opacity: 0.9;
}
.btn-rounded {
  border-radius: 5px;
}
.heder-content .btn-lg {
  position: absolute;
  right: 0;
  bottom: -8vh;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  height: 36px;
  width: 14rem;
}
